<div class="container aboutImage">
	<div class="col l6">
        <div class="card-panel grey lighten-5 z-depth-3">
          <div class="row valign-wrapper">
            <div class="col s4">
              <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAW2AAAAJGE3NWU4ZTM5LTFhMDgtNDg2YS1hNTMzLTYzODBkYjlkNjNmOA.jpg" alt="" class="circle responsive-img">
            </div>
            <div class="col s10">
              <span class="black-text ">
                <p class='aboutDescription'>CodingLotus is a Junior Web Developer living in Montana. A Montana Code School Graduate, I am versed in Javascript, HTML, CSS, NodeJS, NoSQL databases (primarily MongoDB). I work with varying frameworks including ReactJS and Angular. Feel free to contact me for further information.</p>
              </span>
            </div>
          </div>
        </div>
      </div>
</div>