<!DOCTYPE html>
<html>
	<head>
		<title>Lo's Blog</title>
		
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
			<link rel="stylesheet" type="text/css" href="main.css">

			
	
	</head>
<body>
	<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>                        
		      </button>
		      <a class="navbar-brand text" href="/">CodingLotus</a>
		    </div>
		    <div class="collapse navbar-collapse" id="myNavbar">
		      <ul class="nav navbar-nav">
		        <li class="para-text"><a href="/">Home</a></li>

		        <li class="dropdown para-text">
		          <a class="dropdown-toggle" data-toggle="dropdown" href="/blog">Blog<span class="caret"></span></a>
		          <ul class="dropdown-menu para-text">
		            <li><a href="/blog">Most Recent</a></li>
		            <li><a href="/blog">Post</a></li>
		            <li><a href="#">FAQ's</a></li>
		          </ul>
		        </li>

		        <li class="dropdown para-text">
		        <a class ="dropdown-toggle" data-toggle="dropdown" href="/about">About<span class="caret"></span></a>
		        	<ul class ="dropdown-menu para-text">
		        		<li><a href="/about">About</a></li>
		        		<li><a href="/contact">Contact</a></li>
		        	</ul>
		        </li>

		        
		      </ul>
		      <ul class="nav navbar-nav navbar-right para-text">
		        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
		        
		      </ul>
		    </div>
		  </div>
		</nav>
	
	<div class="container">
			<div class="jumbotron image-jumbo">
				<div class="jumbotron back-pink">
					<h1>CodingLotus</h1>
					<p class="para-text">A novices journey through computer programming.</p>
				</div>
					
		</div>
	</div>
	
	<div class="container div1">
		<div class='row text-center feature'>
			<div class='col-md-5 col-xs-12'>
				<h4 class="para-text">A little about CodingLotus</h4>
					<p>This site will hopefully help any of those who are interested in the world of computer programming. I will be documenting my experience, answering my own pain-staking questions, and hopefully yours, relating to the world of coding. There will be many bumps and bruises along the way, but the finish line is victorious.  Keep your head down, and pay close attention to detail - here we go.</p>
			
					<span class="glyphicon glyphicon-option-horizontal"></span>
						
			</div>
		</div>	
	</div>
	<div class="container div1">	
		<div class="row text-center feature">
			<div class="col-md-5 col-xs-12">
					<h4 class = "para-text"> Things to remember</h4>
					<p>It is important to note, during the course of my first year we will be focusing mainly on:</p>
					<ul class="para-text"><b>HTML 
					CSS, 
					Javascript, 
					Node.js, 
					JQuery, 
					AJAX, 
					Git/Github, 
					and SQL Databases.</b></ul> 
					<p>We will also look into methodologies that are common in the industry including Agile/Lean, paired programming and the importance of code reviews.</p>
					<span class="glyphicon glyphicon-option-horizontal"></span>
			</div>
		</div>	
	</div>

	<div class="container div1">
		<div class='row text-center feature'>
			<div class= "col-md-5 col-xs-12">
					<h4 class="para-text">Most recent <a href='/blog' class="pink">blogs</a></h4>
					<p>This will host blog links to the most recent postings. Feel free to click here to see all blog postings.</p>
				
				<a href='/blog' class="glyphicon glyphicon-option-horizontal black"></a>
			</div>
		</div>	
	</div>
			

		
		
	
		
		<footer>
			<div class="container">
				<div class= 'col-md-4'>
					<p>Links</p>
					<a class ="white" href="/">Home</a><br>
					<a class ="white" href="/blog">Blog</a><br>
					<a class ="white" href="/about">About</a><br>
					<a class="white" href="/contact">Contact</a><br>
					

				</div>	

			
				<div class='row text-center'>
				<p>Check out more from CodingLotus</p>
				<p>© Copyright CodingLotus 2016</p>	
				</div>
			</div>	
		</footer>
		
	
	
		<script src="https://code.jquery.com/jquery-2.2.0.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"crossorigin="anonymous"></script>
		<script src="app.js"></script>
	</body>

</html>