<!DOCTYPE html>
<html>
	<head>
		<title>User Login</title>
		 
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
			<link rel="stylesheet" type="text/css" href="main.css">

			<nav>
				<div class = "container">
				<a href="/">Home</a>
					
				</div>
			</nav>
	
	</head>
	<body>
		<% if (message.length > 0) { %>
       <div class="alert alert-danger"><%= message %></div>
   			<% } %>
		<div class = "container div1">
			<form action="/login" method="POST" role="form">
				<legend>Login</legend>
			
				<div class="form-group">
					<label for="">Email</label>
					<input name="email" type="email" class="form-control" id="" placeholder="email goes here">
					<label for="">Password</label>
					<input name="password" type="password" class="form-control" id="" placeholder="password">
				</div>

			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
		
	
		
	</form>



	<script src="https://code.jquery.com/jquery-2.2.0.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script src="app.js"></script>
	</body>
</html>