@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Raleway);

.about-me-photo{
	float: right;
	margin: 2%;
}

.caption{
	text-align: center;
	margin: 1%;
}

.about-me{
	display: flex;
	flex-wrap: wrap;
	margin: 8%;
	text-align: justify;
}

.links{
	margin-left: 500px !important;
	margin-bottom: 30px;
}
.comments{
	text-align: right;
}
.nav-toggle{
	text-align: center;
	border-bottom: dotted 1px #95a5a6;
}
.comments-border{
	margin-top: 5%;
	border-top: dotted 1px #95a5a6;
	border-right: dotted 1px #95a5a6;
	border-bottom: dotted 1px #95a5a6;
	border-left: solid 2px #95a5a6;
}
.side-divider{
	border-left: solid 2px #95a5a6;
}
.divide{
	border-bottom: dotted 1px #95a5a6;
}

.divider{
	border-bottom: solid 1px black;
}
.pencil{
	border: none;
	text-align: right !important;
}

h3, h4{
	font-family: "Optima";

}
h1 {
	font-family: 'Poiret One', sans-serif;
	font-size: 3em;
}

.font{
	font-family: 'Poiret One', cursive;
	margin-left: 20px;
	font-size: 20px;
	text-align: center;
	color: black;
}
.footer{
	font-family: "Poiret One", "Optima";
	font-size: 15px;
	color:white;
	position: relative;
	margin-top: 10%;
	padding-bottom: 1%;
	padding-left: 3%;
	margin-bottom: 0;
}
.brand{
	font-size: 20px;
	font-family: "Poiret One", "Optima";
	margin-top: 0px;
}

.optima{
	font-family: "Poiret One", "Optima";
	font-size: 15px;
}

p, label, input {
	font-family: "Optima";
	color: black;
}
.login-form{
	padding: 15px;
}
.login-button{
	margin-left: 40px;
	border: black; 
	background-color: black;
	color: white;
	margin-bottom: 10px;
}

.text{
	font-family: "Valencia Sans";
	color: black;
}

.font-size-carousel{
	font-size: 25px;
}
.didot{
	font-family: "Didot";
	color: black;
}
.active-user{
	position: relative;
	text-align: right !important;
}
.white{
	color: white;
	font-family: "Poiret One", "Optima";
	
}
.div1{
	background-color: white;
	padding: 20px 40px 20px 40px;
	margin-bottom: 50px;
	border-top: 1px solid #e6e6e6;
}
.black{
	color: black !important;
}

.tweet-para{
	float: right;
}
.heading{
	background-color: grey;
}


@media(max-width: 767px){
	.optima{
	font-family: "Optima";
	font-size: 15px;
	color: white !important;
	}
}

.foot-flex{
	display: flex;
	flex-wrap: wrap;

}

.icons{
	margin-top: 2%;
}