.images{
	height: 500px !important;
	width: 100% !important;
}
.carousel-margin{
	margin-top: -50px;
}

h3, h4{
	font-family: "Optima";
	text-align: center;
}
h1 {
	font-family: "Optima";
}

footer{
	font-family: "Optima";
	background-color:black;
	color:white;
	
	padding-bottom: 20px;
	padding-top: 20px;
}

.optima{
	font-family: "Optima";
	font-size: 15px;
}

p {
	font-family: "Optima";
	color: black;
}
.login-form{
	padding: 15px;
}
.login-button{
	margin-left: 40px;
	border: black; 
	background-color: pink;
	margin-bottom: 10px;
}

.black{
	color:black;
}
.text{
	font-family: "Valencia Sans"
	color: black;
}
.font-size-carousel{
	font-size: 25px;
}
.didot{
	font-family: "Didot";
	color: black;

}
.active-user{
	position: relative;
	text-align: right !important;
}
.white{
	color: white;
	
}
.div1{
	background-color: white;
	padding: 20px 40px 20px 40px;
	margin-bottom: 50px;
	border-top: 1px solid #e6e6e6;
}


.tweet-para{
	float: right;
}
.heading{
	background-color: grey;
}

.div-footer{
	border-top: 1px solid grey;
}
#page1, #page2, #page3, #page4, #page5{
	margin-top: 30px;
	padding-top: 20px; 
}
