
h1, h2{
	font-family: "Valencia Sans";
	
	

}
h3, h4{
	font-family: "Optima";
	text-align: center;
}

footer{
	font-family: "Optima";
	background-color:black;
	color:white;
	
	padding-bottom: 20px;
	padding-top: 20px;
}

p{
	font-family: "Optima";
	
	color: black;
}
.feature .glyphicon{
	font-size: 22px;
	align-items: center;
}


.black{
	color:black;
}
.text{
	font-family: "Valencia Sans"
	color: black;


}
.para-text{
	font-family: "Didot";
	
	color: black;
}
.white{
	color: white;
	font-family: Didot;
}
.div1{
	background-color: white;
	padding: 20px 40px 20px 40px;
	margin-bottom: 50px;
	border-top: 1px solid #e6e6e6;
}
.image-jumbo{
	margin-top: -21px;
	background-image: url(https://vasare.files.wordpress.com/2011/07/screen-shot-2011-07-06-at-19-23-21.png);
	background-attachment: fixed;
	height: 220px;
	opacity: 0.4;
	color: black,
}
.back-pink{
	background-color:  #ffe6f0;

}
.tweet-para{
	float: right;
}
.heading{
	background-color: grey;
}

.div-footer{
	border-top: 1px solid grey;
}

